# cache images and flash content for one month
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
	Header set Cache-Control "max-age=600"
	DefaultLanguage en-US


</FilesMatch>

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>
<files index.html>
	Order allow,deny
	Deny from all
</files>
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|css|js|html)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>
# disable directory browsing
Options All -Indexes

# serve a standard 403 forbidden error page
RewriteRule .*\.(gif|jpg)$ - [F,L]

# protect against DOS attacks by limiting file upload size
LimitRequestBody 10240000